[2018-07-19 13:59] atait opened #35 "Please add a license"

[2018-07-19 16:21] amccaugh commented on #35
Added MIT license

[2018-07-19 16:21] #35 closed

[2018-08-01 10:34] fibomat opened #38 "precision of ring"
Here I try to draw a ring resonator, I think the only I need to do is just moving one of the device, ring or bus waveguide.

We say, gap=0 and width=0.8, thus, the two device should be attached without any gap.

[code]

But I checked by Layout Editor and the measured value is 0.003, even with a higher writing precision.

I also found such an error increases with the ring radius (radius=200, measur

[2018-08-01 16:03] amccaugh commented on #38
Thanks for reporting this bug.  It turns out it was a small quirk of how the points were created in using `np.linspace`, where we were missing a +1 value for the # of points, resulting in the bottom-most point not quite being at 180 degrees.  I've fixed it in the next version which should be out in a week or two.

Until then, you can use this updated version as your ring function:

[code]

On a si

[2019-05-17 01:30] petebarry1988 opened #55 "Device.flatten() TypeError"
TypeError is raised when attempting to flatten a device. Repeatable using lines 630-640 of tutorial.

Paste of Traceback:

    732     def flatten(self,  single_layer = None):
    733         if single_layer is None:
    --> 734             super(Device, self).flatten(single_layer=None, single_datatype=None, single_texttype=None)
    735         else:
    736             gds_layer, gds_datatype =

[2019-05-20 17:58] petebarry1988 opened #56 "latest pip version (1.0.2) not working with gdspy v1.4"
After downloading the latest version of phidl from pip (1.0.2), and the latest version of gdspy (1.4) I receive the following error when initialising a device (using the tutorial example).

[code]

[2019-05-20 18:10] amccaugh commented on #56
Thanks for the bug report--you're correct, gdspy 1.4 changed a few internal representations that phidl talks to, so I need to match those changes in phidl.

I'll have a new version out in a couple days though which will work with 1.4, but until then it'd be best to install the previous version of gdspy (e.g. `pip install gdspy==1.3.2`)

[2019-05-20 18:14] petebarry1988 commented on #56
Yup, works for me. Thanks!

[2019-05-20 18:14] #55 closed

[2019-05-23 17:47] amccaugh commented on #56
Alright, I fixed everything and wrote some new tests to verify it's working 100%, but please let me know if you run into any bugs.  Thanks again for the bug report

[2019-05-24 22:28] #56 closed

[2020-01-09 09:18] joamatab opened #61 "how to move device with labels?"
Hi Adam,

we still use phidl 1.0.3 because one of our tests broke on the following releases

I just wanted to check with you whether this is a bug ^^

I find it convenient to be able to move a Device that has labels on it

Thank you for your work on Phidl, it's great!

[code]

[2020-01-09 18:33] amccaugh commented on #61
Hi @joamatab , thanks for the report -- this actually got fixed in 1.2.0!  (this specific commit:  https://github.com/amccaugh/phidl/commit/ad78ca1a9d0edccdd42ce4dbbfe09147f61ef69b ).  However, you need to use the phidl Device.label() function instead of manually adding a gdspy label., because gdspy labels don't have a .move() method.

For instance, if I just change the :
[code]
line to

`label =

[2020-01-10 10:54] joamatab commented on #61
the phidl label worked great!

thank you Adam!

[2020-01-10 10:54] #61 closed

[2020-03-12 23:01] jonnyfountain opened #67 "pg.basic_die does not work for non square dies"
When I try to define a non square die using the pg.basic_die function, the y-position and dimensions of marks is not scaled correctly.
![basic_die_issue](https://user-images.githubusercontent.com/62121346/76574843-b42f2e00-647a-11ea-835c-a6e31f81132d.png)

[2020-03-12 23:59] amccaugh commented on #67
Good catch, thanks @jonnyfountain .  This will be fixed in the next version, but until then you can use the fixed code below:

[code]

[2020-03-13 23:19] jonnyfountain commented on #67
Thank you for the fast response @amccaugh. Works like a charm

[2020-03-14 14:41] #67 closed

[2020-05-04 14:07] gyger opened #68 "np.ceil return value not safely castable to int"
In routing.py the return value can not be safely cast to an int, leading to a bug in an up-to-date python stack (I am not sure when it became mandatory).
An easy fix is to explicitly cast the points for linspace in _arc. e.g.
`int(np.ceil(abs(theta)/angle_resolution))`

The error seen in the console will be:  `object of type <class 'numpy.float64'> cannot be safely interpreted as an integer`

[2020-05-04 18:52] amccaugh commented on #68
Thanks for finding this bug @gyger .  I'm working on one last feature for the latest version, I'll fix this and include it in the update which should be out in a day or two.

[2020-05-06 19:31] amccaugh commented on #68
This has been fixed in version 1.3.0, thanks again for the bug report @gyger

Also be sure to check out the new feature, `pg.packer()`
https://phidl.readthedocs.io/en/latest/#packer-align-distribute

`pg.packer(D_list, spacing = 1.25, aspect_ratio = (2,1))`

![phidl example image](https://amccaugh.github.io/phidl/packer.png)

[2020-05-06 19:32] amccaugh commented on #67
@jonnyfountain This has been fixed in version 1.3.0, thanks again for the bug report

Also be sure to check out the new feature, `pg.packer()`
https://phidl.readthedocs.io/en/latest/#packer-align-distribute

`pg.packer(D_list, spacing = 1.25, aspect_ratio = (2,1))`

![phidl example image](https://amccaugh.github.io/phidl/packer.png)

[2020-05-06 21:57] #68 closed

[2020-06-26 07:14] gyger opened #70 "Placing functions - align, distribute"
Hej,
thanks for this new functions, also the packer (although I have not used that one yet, I somehow too much OCD to allow the computer to scatter my devices).

I was thinking the align function in Inkscape has this possibility to treat the selection as group, I think that would be also super nice if this could be an parameter. So align(center) does not put them on top of each other, but moves th

[2020-06-26 16:25] amccaugh commented on #70
Hi @gyger , glad to hear you've had the chance to explore the new functions.

- For the align function, I'm not entirely sure what you're describing.  Can you post a picture of an approximate example of what you mean (maybe just using shapes in Inkscape)?
- I agree about the being able to place things on a grid, we're actually working on a couple functions to do exactly that (but first I have to f

[2020-06-27 10:21] gyger commented on #70
Thanks also for the outlook. I made a [rectangular placing function yesterday](https://gist.github.com/gyger/cad3292e7b920619c64dc549f0eb31b7) then, perhaps it can be useful for you or somebody else.

About the align, find a sketch below. If it does not make the thing clear, I will try to extend it more or I can just send you another gist.
![image](https://user-images.githubusercontent.com/2817811

[2020-06-27 16:39] amccaugh commented on #70
I like that grid() function quite a bit, would you want to make a pull request to add it to geometry.py?  (I'm happy to add it myself of course, but it's always nice to make sure the original author gets the credit on github for contributions)

I see what you mean about aligning multiple items.  This is actually in line with something I've been thinking about recently -- it seems to me what would

[2020-07-23 21:58] amccaugh commented on #70
@gyger What do you think about changing the input variables to be more consistent with how distribute() already works?

Specifically:
[code]

Here, if `separation==False`, then the devices will be put on a fixed grid of dx=50, dy=100 (regardless of how large or small the devices are).  However, if `separation == True`, then the function enforces a separation between the columns of 50 units

![imag

[2020-07-24 10:33] gyger commented on #70
Sounds like a good thing, especially if it is consistent with distribute. :+1:

[2020-08-20 06:28] gyger opened #73 "First feedback on the waveguide work"
I have seen with excitement that the wave-guide module is coming along. I wanted to add some initial feedback below, of course everything is up to you and I am aware that there is probably still a lot of movement happening at the moment.

- Paths should be connectable with +, I think. So I am wondering if we should add the group operator  #70 from + to | (for bitwise or), which also somehow reflec

[2020-08-20 15:03] amccaugh commented on #73
Thanks for taking a look at the new features @gyger.

1) For the case of Path, I definitely agree it'd be much better not to have to have to type out `append` a hundred times when you're making a waveguide.  That said, I'd like to keep "+" as the operator for making Groups (I want to encourage people to use it, and `|` is unfortunately not as familiar to novice programmers).    I was thinking it m

[2020-08-20 15:05] amccaugh commented on #70
These have all been added and will be in the next release!

[2020-08-20 15:05] #70 closed

[2020-08-20 19:23] atait commented on #73
Hi @gyger

There might be some confusion between `XSection` and `WG_XS`. They are keeping the same information. The latter has methods that effectively create paths commonly used in photonics (e.g. an Euler bend) and then make that Device. "Cross-section" is just an industry standard, like @amccaugh says. I'm not sure what you mean by "smooth."

Tying a cross section to a port is a good idea! You

[2020-08-20 20:49] gyger commented on #73
Thank you for this long replies.

I would expect += and + to behave the same. So I think that would be not such a good idea.

2) Profile was also something I was thinking of or something connected to Extrusion or Slice or Face. But perhaps XSection is the best available one.
3) A cross-section can only change on a port and is linked to a port, so I thought the port could know what cross-section it

[2020-08-20 22:05] amccaugh commented on #73
1) I think you're right about the `+` operator, it's confusing if it's not consistent.  What do you think about the `&` operator for creating Groups @atait @gyger ?  For instance `mygroup = t1 & t2 & t3 & t4` ?   I agree the `|` operator makes sense from a boolean-logic perspective, but I have the impression that the `&` operator makes more sense semantically (for instance, you'd never say "I'm mo

[2020-09-03 19:36] amccaugh commented on #73
@gyger Would you mind taking a look at https://phidl.readthedocs.io/en/dev/tutorials/waveguides.html#Building-Paths-quickly ?  I think I've come up with an elegant solution to assembling Paths quickly and easily (and keeping `+` operator dedicated to making Groups)

[2020-09-05 14:33] gyger opened #74 "Accept Pathlib.Path object as input to filename"
It would be nice if write_gds accept a Path object.
See also the fix in gdspy (https://github.com/heitzmann/gdspy/commit/4c793fe36888894702270d37a29f2e0c0b80e136) and https://github.com/heitzmann/gdspy/issues/135.

[2020-09-05 14:44] gyger commented on #73
Nice. I worked on my first chip with waveguides using PHIDL dev-head. It is nice. I looked at building paths quickly mentioned above.

1. Appending a list works nicely and love the support of that.
2. The constructor of a Path could already accept that list, that would make two lines only one.
3. Using the extrude I found it very useful and worked immediately and i think the workflow works very we

[2020-09-05 17:20] gyger commented on #73
One question on Positive resists, would you use just two elements in the cross section and offset them or use boolean magic later?

[2020-09-08 14:59] amccaugh commented on #73
- Yes I agree the constructor could save a line, that's a good idea.  Like `P = Path( pp.arc(radius = 10, angle = 90) )`
- Sounds good on the naming of the CrossSection.  Something like `X.add(width = 1, offset = 0, layer = 0, name = 'etch')`

With respect to positive resists, I'd generally use the boolean function `pg.outline()` afterwards.  It's possible to use multiple elements in the cross-sec

[2020-09-08 19:43] amccaugh commented on #74
I believe this is fixed in https://github.com/amccaugh/phidl/commit/16f288ca4e3fed0aae97aa0f01416f08817daf89 , would you be able to check @gyger ?

[2020-09-08 19:43] amccaugh commented on #73
All functionality has been added.  We're almost ready for release!

[2020-09-08 19:43] #73 closed

[2020-09-09 12:37] gyger commented on #74
Works for me.

[2020-09-09 12:37] #74 closed

[2020-10-05 05:40] joamatab opened #78 "casting issue when moving components with labels"
Hi Adam,

I noticed this casting bug

[code]
[code]

the casting issue can only be solved by using position and movements with the same data types. For example, it works if position and movement are both `int`

``
c.add_label('hi', position=(0, 0))
c.movex(10)
``

or `float`

[code]

[2020-10-05 18:09] amccaugh commented on #78
Wow, nice find Joaquim -- I can't believe I haven't run into this before.  Got it fixed, thanks for the report!

[2020-10-05 18:09] #78 closed

[2020-10-06 05:15] joamatab commented on #78
thank you for the fix Adam and for your latest phidl improvements ^^

[2020-10-06 05:24] joamatab opened #79 "switching from gdspy to gdstk?"
Hi Adam,

gdspy is being rewritten to speed up manipulating larger layouts

I was wondering if you had any plans to switch from gdspy to gdstk ^^
https://github.com/heitzmann/gdstk

[2020-10-07 15:10] amccaugh commented on #79
Hi Joaquin,

I think what will likely happen is that phidl 2.0 will allow you to choose either gdstk or klayout as a backend for certain operations (like `boolean` and `write_gds`). Most everything else will remain in Python likely -- my preliminary tests with using klayout as a backend found that there was a lot of Python->C computational overhead.  Converting objects back and forth between the t

[2020-10-22 23:04] #79 closed

[2020-11-10 06:00] joamatab opened #84 "simplify installation with conda package"
Hi Adam,

some windows users have reported that is hard to install phidl/gdspy/gdsfactory on windows

I proposed them 2 options:

1. Install the wheel for the python version that they have, for example for python 3.7 or 3.8:

[code]
[code]

2. Install a C++ compiler ["Build Tools for Visual Studio"](https://www.visualstudio.com/downloads/#build-tools-for-visual-studio-2017)

A third option would b

[2020-11-18 18:49] joamatab commented on #84
#85  closes this issue

the magic line was to install gdspy from conda
[code]

[2020-11-18 18:49] #84 closed

[2021-04-07 14:42] giumc opened #91 "add plt.ioff() option to quickplot2()"
Hi!
I would like to block script when quickplot() is called, until figure is closed.

If I run a .py script with the following code:

[code]

the figure immediatly disappears.
It seems that i can pause for `x` time the script via `plt.pause(x)` but that doesn't really do the job for me.

I would like qp() to block script until window is closed, as in
[code]

Adding `plt.ioff()` before `qp()` doesn

[2021-04-07 17:22] amccaugh commented on #91
This is interesting, thank you for the concrete examples. I'll have to take a look through the code but I don't see why we shouldn't be able to make it blocking.  I've also been considering making a `set_quickplot_options()` function which allows you to set the options for the plot (such as showing/hiding subports, etc).  This would fit nicely in there, perhaps as `set_quickplot_options(blocking =

[2021-04-08 00:33] giumc opened #92 "show_subports=True in quickplot"
Hi again
I noticed that when creating higher lever hierachy of cells , ports are not printed in quickplot()
Here is a test function:
[code]
I tried replacing quickplot with quickplot2, but python3 crashes.
I read in the docs that there is a kwarg show_subports=True but it seems not to show subports.

[2021-04-08 14:38] amccaugh commented on #92
Note that the green ports displayed in quickplot *are* the subports.  Device-level ports are shown in red, ports contained in the device's references are "subports".  So in the above code, the Device `r` has a port called "center".  When `r` is referenced inside `d`, then `d` ends up containing two "subports" -- these are the ports defined in `r` but only *referenced* in `d`. In my modified code b

[2021-04-08 16:02] amccaugh commented on #91
@giumc I think I've got a working implementation with blocking.  Can you pull the latest changes on the `dev` branch and install them and try the following code?

[code]

[2021-04-08 23:34] giumc commented on #92
That makes sense, thanks for the clarification!

I was misinterpreting the representation of Ports, now in hindsight this is the natural way of referencing and passing them across hierarchy.

Big Kudos for this layout tool, I think it really stands out wrt gdspy basic tool...

Thanks for the detailed explanation, hope it can be of help for others as well...

[2021-04-08 23:34] #92 closed

[2021-04-09 02:32] giumc commented on #91
fantastic! works nicely. Kudos!

[2021-04-09 02:32] #91 closed

[2021-04-12 18:34] giumc opened #93 "pp.smooth() with collinear segments breaks"
When building paths from pp.smooth(), it seems that the code breaks when collinear points are passed.

As a MWE, this code works nicely:
[code]

However, if another point on the x axis is passed, the code breaks :

[code]

I am trying to implement an autorouting script that would greatly benefit from this , let me know if there is any chance you can implement this!

[2021-04-12 18:56] amccaugh commented on #93
Great bug find, can't believe I didn't run into that yet!  We can definitely correct for this by pre-filtering the points list to remove these redundant points.  Let me take a look and hopefully I'll have a fix in a couple days

[2021-04-13 19:06] amccaugh commented on #93
@giumc Can you try the latest commit on the `dev` branch?  I believe this should be fixed now.

Also, if you have the opportunity I've been making some changes to `quickplot()` -- the mousewheel should now work in interactive windows.  If you have the chance to try it out I'd appreciate it.  If you're using a notebook-like system, note you'll have to put something like `%matplotlib qt` in the begi

[2021-04-14 21:44] giumc commented on #93
@amccaugh installed `phidl` in branch `dev` at commit `a612940` .
I get error :
[code]

the error is solved if I commit back to where the set_quick_options() was introduced (i.e.`f855b19')

let me know if I can test out some other thing ( and i apologize if this is not the right way of reporting bugs )

[2021-04-14 21:51] amccaugh commented on #93
This is exactly how to do it -- I appreciate the responses.

Looks like that was just a silly typo, I pushed a commit that should fix it

[2021-04-14 21:59] giumc commented on #93
Bug fixed! The mouse works smoothly for me, I will let you know if something related to mousewheel comes up...
Thanks !

[2021-04-14 21:59] #93 closed

[2021-04-17 17:47] joamatab opened #95 "Extruded Paths geometric hash error"
Hi Adam,

how can we get the geometric hash from a Device that comes from an extruded path?

I get an error when I do this

[code]

[2021-04-18 21:00] amccaugh commented on #95
Thanks for the bug report - this was a strange one.  I pushed a bugfix to `dev`, can you check to see that it works on your end?

[2021-04-27 22:28] amccaugh commented on #95
This should be addressed in #96 , let me know if you run into any further problems

[2021-04-27 22:28] #95 closed

[2021-04-28 05:58] joamatab opened #97 "label ports not being used"
Hi Adam,

thank you for your your new phidl update

I noticed that label ports are passed to the set_quickplot_options but  not being used

[code]

[2021-04-28 17:27] amccaugh commented on #97
Thanks for finding this @joamatab , I've corrected it in d9ae4fc

[2021-04-28 17:27] #97 closed

[2021-04-30 22:21] joamatab opened #98 "smooth feature request"
Hi Adam,

I've reallly like the simplicity of defining routes with smooth as well as the new CrossSection.
I am thinking about simplifying the routes in gdsfactory with the new smooth function

Something that is important for photonic routes is that you want to keep the idea of a component (bend, straight) because for circuit simulations a bend and a straight will have different models

What do yo

[2021-04-30 22:22] joamatab commented on #95
yes Adam, it works great on the new phidl 1.5.0

thank you for your super quick fix ^^

[2021-05-04 02:48] amccaugh commented on #98
Hi @joamatab , in its current implementation I'm not really sure it blends well with the underlying principles of how `phidl` is structured.  For instance, *everything* in `phidl.path` returns a Path, and *everything* in `phidl.geometry` returns a Device.  This is intended to keep things intuitive -- the change you're proposing breaks this and the [PLOA](https://en.wikipedia.org/wiki/Principle_of_

[2021-05-04 05:08] joamatab commented on #98
Hi Adam,

For automatic routing of port bundles it's nice to be able to get the delay
of each route, and the index of bends is different from straights
How about creating a new function that returns a paths into sub paths?

Allowing Bézier bends where there is not enough space, as well as
supporting 180 degrees Euler bends would be great

Let me know what you think
Joaquín

On Mon, May 3, 2021, 7:

[2021-05-08 01:00] giumc opened #99 "Rename cells?"
Straight question, can you rename cells?
If so, would you propose a workaround to accomplish this?
I see that there is an "_internal_name" protected variable, I would like not to touch it ( I would assume there is a reason why it's protected).
Let me know

Giuseppe

[2021-05-11 14:47] amccaugh commented on #99
I think that should definitely be doable. Let me take a look and I'll try to get back to you in the next couple days.

I suspect there's actually some deprecated code in there that I can remove -- I believe _internal_name is not actually used (with gdspy it used to be easier to guarantee all cells had unique names in advance, but I think that's since changed)

[2021-05-13 21:03] amccaugh commented on #99
@giumc could you try loading the latest commits on `dev` and try it out?  I have removed `D._internal_name`, which was bookkeeping needed in earlier versions of gdspy (but is no longer necessary). You should be able to modify names just be doing

`D.name = 'newname'`

[2021-05-15 09:27] petebarry1988 opened #100 "boolean operations on layers?"
Is it possible to perform boolean operations on Layers, rather than Devices (i.e. similar to the functionality in KLayout) ? I tried to create and pass phidl.Layer objects when creating Devices (see below), but that didn't seem to have the desired effect. Apologies if this is already possible and I've just missed it (I couldn't find it in gdspy either) .

[code]

[2021-05-15 20:08] amccaugh commented on #100
Not in precisely the same way as KLayout -- but there are functions which will accomplish what you're looking for.  There's a function called `pg.extract(device, layers)` which will allow you to accomplish this.  What I would do in your case is add everything to a temporary Device, then run `pg.extract` (which will create a new device with only the layers you want on them).

[code]

We need to fle

[2021-05-19 22:12] amccaugh commented on #100
Also just FYI, I wrote up a tutorial for using Layers effectively:

https://phidl.readthedocs.io/en/dev/tutorials/layers.html

[2021-05-20 09:43] petebarry1988 commented on #100
That's great - thanks for the quick reply. I'll try this out, but its look like this should work (so i'll close the issue).

In this instance, my specific use case is somewhat trivial and is just being used to label a unique ID for each die on a wafer. I create a dedicated text layer for each device layer, and the pair of layers are then xor'd as the final operation. I'm sure that this could be ac

[2021-05-20 09:43] #100 closed

[2021-05-20 17:25] joamatab opened #102 "manhattan route withg gradual bend"
Hi Adam,

I noticed that phidl.routing.route_manhattan has some issues if it does not have enough space for a route

[code]

![image](https://user-images.githubusercontent.com/4514346/119022585-ae25be80-b955-11eb-953c-e1166f698d96.png)

What do you think of adding a check and raise an Error if it does not fit?

[code]

[2021-05-20 19:06] giumc commented on #99
apologies, I forgot to reply!
It works like a charm, thanks!

[2021-05-20 19:06] #99 closed

[2021-05-20 19:13] giumc opened #103 "aliases behavior upon Device.add()"
Hi amccaugh!
I come to you again looking for delucidations.

When using the ```Device.add()``` method, is the "destination" class supposed to store the ```alias``` for the "source" cell references?

I am trying to use such a functionality, in this example it seems that the ```d``` cell doesn't inherit the ```alias``` of the reference to ```r```...

[code]

[2021-05-20 22:07] giumc opened #104 "Port add and remove"
I noticed that in a situation like this:

[code]
the Device ```c ``` doesn't lose ```p``` when it is asked to remove it.
By looking at your code, it seems that the ```Device.remove``` method tries to compare ```p``` with existing ports, but fails to recognize the identity. I implemented a magic method ```__eq__``` for the Port, but I am not sure It will be a good implementation ( I believe I opene

[2021-05-20 22:42] amccaugh commented on #104
Hi @giumc , the issue here is that when you pass `add_port()` an existing port, it *copies* it.  This is to make it easy to copy ports from one object to another (for instance, from an underlying reference into the parent device).  So really what you have here is:

[code]

On a sidenote, PHIDL is written in a way that encourages you to use `add_port` to simultaneously create the port & add it to a

[2021-05-21 14:52] amccaugh commented on #103
Yes, this is intended behavior.  The reason is similar to how "subports" work -- for a given Device `D`, you can only access the aliases for objects in `D`.  The reason for this is to avoid name collisions.  Consider the following situation:

[code]

At this point, I now have two references to `Rcontainer` in my device `D`.  Both references contain the alias `'myrect'`.  Let's assume that `D` will

[2021-05-21 14:54] amccaugh commented on #103
On a sidenote, we intended that no one would ever use the `.add()` function in PHIDL -- I've actually thinking we should remove access to it (or renaming it `_add()` so it's obvious it's not supposed to be used.  But let me ask you this before we do so -- do you have any use cases where you couldn't equivalently use `add_ref()`, `add_polygon()` or `add_array`?

[2021-05-21 16:16] giumc commented on #103
Thanks for the response, it makes a lot of sense.

I am using it to deep copy a Device, and add the copy to another Device. As I was looking for the right word to use to describe this, I noticed that there is a ```deepcopy``` method for ```Device()```, which probably does the same thing. i should probably use that instead!

[2021-05-21 21:55] amccaugh commented on #103
Make sure you use https://phidl.readthedocs.io/en/latest/API.html#deepcopy , that's the correct deepcopy

[2021-05-24 17:27] avishaiben opened #106 "Bug in union?"
Hey Adam,

I found that Union isn't managing to unionize some polygons. Not sure why yet. I am showing below an example.

![image](https://user-images.githubusercontent.com/63114579/119385118-8e0a3e00-bc7a-11eb-9280-ffa646aa7afb.png)

[2021-05-24 21:07] amccaugh commented on #106
Hi @avishaiben , would you be able to post example code?  It's not clear what might be going wrong just from the images

[2021-05-25 19:57] #103 closed

[2021-05-25 19:58] amccaugh commented on #102
Hi Joaquin, I agree an error would be helpful here -- would you mind making a pull request to `dev`?

[2021-05-25 21:32] joamatab commented on #102
great, thank you Adam!

see PR #107

[2021-05-26 16:56] amccaugh commented on #98
I think adding a Bezier bend option is a good one, and I think we can create an easy-to-use `CompoundPath` or something like it that allows you to separate out bends from straights

[2021-05-26 17:34] amccaugh commented on #98
Also, to clarify -- are you interested in making the bends a different cross-section than the straights?  Because if not, you could use the [curvature calculation](https://phidl.readthedocs.io/en/dev/tutorials/waveguides.html#Curvature-calculation) to very easily extract the curvature of every point along the path, then use that curvature to compute the effective index

[2021-05-26 20:36] joamatab commented on #98
Im interested in having meaningful properties for bends and straights, so they can have different names, properties or circuit models associated with them.

let me know what you think

[2021-05-26 20:50] amccaugh commented on #98
That makes sense, just wanted to see if your problem could be resolved with existing code

[2021-06-03 14:17] #106 closed

[2021-06-03 14:18] #102 closed

[2021-06-16 09:27] cloudcalvin opened #110 "quickplots not showing"
Hi there.

I am having the issue where my plots aren't showing and I think it might be the same issue as described here https://github.com/amccaugh/phidl/issues/91,

but in the examples/tutorial you don't use `set_quickplot_options(blocking=True)` so I am wondering why it is not an issue for you.

Any thoughts?

[2021-06-16 17:36] amccaugh commented on #110
Hi @cloudcalvin , I think a pretty common use-case (that I also follow) is that people use a REPL to do programming in PHIDL, such as ipython or vscode or jupyter or Spyder.  In that circumstance, when you call quickplot, the REPL terminal stays open, so the plot stays open.

In your case, are you executing the python file directly?  Like for instance, running `python my_phidl_script.py`?  In that

[2021-06-16 20:26] cloudcalvin commented on #110
Thanks

[2021-06-16 20:26] #110 closed

[2021-06-19 17:49] #104 closed

[2021-06-19 18:05] giumc opened #112 "Interactive ```qp``` with jupyter"
Hi ```amccaugh```.

I am trying to get interactive plots in ```jupyter lab``` cells. I am using your latest version of your ```dev``` branch ```phidl```
(Merge: 7a86876 c618648).
To get the interactive window directly on the ```jupyter``` cell , I am using the ```widget``` backend .
If I use ```qt5```, I do get the interactive plots, but on a separate window which is annoying...
To install ```widg

[2021-06-23 03:31] #98 closed

[2021-06-23 03:42] amccaugh commented on #112
Do basic matplotlib commands work with interactive windows?  For instance, if you try the following, do you get an interactive window?  I haven't been able to get

[code]

If that does in fact work, what I would suggest is setting [the quickplot option to create a new window each time](https://phidl.readthedocs.io/en/dev/API.html?highlight=set_quickplot_options#set-quickplot-options) to `True`:
[c

[2021-06-23 04:01] giumc commented on #112
It does work for me!
I think it needs the ```ipympl``` module to run smoothly.
Thanks!

[2021-06-23 04:01] #112 closed

[2021-06-23 04:06] amccaugh commented on #112
Out of curiousity, do you have issues with the mousewheel/trackpad accidentally zooming in the interactive notebook?  I've noticed in some systems that trying to scroll in jupyter sometimes inadvertently activates the "scroll-to-zoom" feature of quickplot.  Have you experienced this?

[2021-06-23 04:35] giumc commented on #112
Yeah , that was going to be my next problem to fix... Whenever I scroll on an interactive window, both the interactive zoom and the jupyter page scrolling are activated. I don't know who to blame for this, whenever I get this fixed i will let you know!

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Adam McCaughan ***@***.***>
Sent: Wednesday, June 23, 2021

[2021-06-29 14:38] amccaugh commented on #112
Could you try the latest commit on `dev`?  I believe I fixed the interactive window issue automatically.  (I also added an option to `set_quickplot_options` that lets you force `interactive_zoom = False`)

[2021-08-12 20:04] georgiosauce opened #113 "PHIDL won't update in anaconda navigator"
Stuck on version 1.4.2 despite installing the latest version. Command 'conda list' shows version 1.5.2 but anaconda will only run 1.4.2 and will not show update available therefore cannot use gridsweep function

[2021-08-12 23:53] amccaugh commented on #113
Can you paste the commands you're using to install/check the version?  For instance

`pip install -U phidl` to install phidl

then inside python running

[code]

[2021-08-13 16:37] georgiosauce commented on #113
conda list shows version 1.5.2 in terminal window. import phidl -> print(phidl.__version__) in Jupyter notebook gives 1.4.2

[2021-08-13 16:49] georgiosauce commented on #113
Also I get this message despite phidl being listed in conda list

PackagesNotFoundError: The following packages are not available from current channels:

  - phidl

Current channels:

  - https://repo.anaconda.com/pkgs/main/osx-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/osx-64
  - https://repo.anaconda.com/pkgs/r/noarch

To search for alternate channels

[2021-08-13 17:24] georgiosauce commented on #113
Got it to work, I was in the wrong directory when installing

[2021-08-13 17:24] #113 closed

[2021-08-13 17:26] amccaugh commented on #113
I see -- phidl is not uploaded to `conda`, so instead of using that you should do the following

1. Click Open terminal from environment
![image](https://user-images.githubusercontent.com/2075083/129396978-e6ac704e-f414-4cd5-b874-6d9b60c9a2c6.png)
2. In the terminal run `pip install -U phidl`

[2021-10-13 01:23] DanHickstein opened #116 "Glitch when using extrude on a spiral path"
Thanks for all of your great work developing the Phidl package! I have only been using it for the past week, but I've really been enjoying the package and your nice documentation.

I encountered an issue with using the `extrude` function on a spiral path. Basically, it is possible it get a large glitch in object that is created:

![image](https://user-images.githubusercontent.com/1107796/137050349

[2021-10-13 16:59] DanHickstein opened #117 "Release 1.6.0 might actually be v1.5.3"
At least the version number didn't get incremented.

[code]
produces:
[code]

[2021-10-13 17:31] #117 closed, assigned to nobody

[2021-10-13 17:32] amccaugh commented on #116
Thank you for the bug report & especially for the example code -- I was able to reproduce the issue in 1.6.0.  I'm guessing it has something to do with an incorrectly appended point between the inner curve and the spiral, seeing as it happens where the spiral transitions to the S-curve (or at the S-curve central joint).

I'll take a look at it in the next couple days and see if I can come up with

[2021-10-13 17:33] DanHickstein commented on #117
Great, thanks!

[2021-10-13 18:11] #116 closed

[2021-10-18 20:16] DanHickstein opened #118 "Spiral with smoothly varying radius of curvature"
The current function to generate a spiral path features a sharp transition from a positive to a negative radius of curvature in the center of the spiral. In addition, there is a jump between two different ROCs as the spiral transitions into and out-of the center region. Also, if a straight waveguide is connected to the spiral, then there will be a jump in curvature here as well. For a real-world w

[2021-11-04 21:27] gyger opened #119 "CrossSection extrude - wrong named parameter"
Path.extrude no longer has a argument cross_section, but it is now called width and can be a cross-section. This needs to be adapted in CrossSection.extrude.

[2021-11-04 22:03] amccaugh commented on #119
Good catch, thanks @gyger.  This should be fixed on `dev` (and a unit test in place to prevent it from happening again) with commit 482658e

[2021-11-05 08:51] gyger commented on #119
Great, thanks for that fast fix and congrats on your publication. :) PHIDL really became the just right tool, much more flexible than the Foundry PDK based tools, but more helpful than gdspy alone.

[2021-11-05 08:51] #119 closed

[2021-11-05 08:54] gyger opened #120 "How does gdstk (the planned successor to gdspy) influence PHIDL?"
This is not really a bug report, but more like getting a feeling where the authors stand.

gdspy, the base of PHIDL is in maintenance mode, and the author is trying to improve on it with a new toolkit  gdstk (https://github.com/heitzmann/gdstk). What does this mean for PHIDL, will you transition at some point, what is the plan there?

[2021-11-05 08:55] gyger commented on #120
I should have checked first, there is bugreport #79.

[2021-11-05 08:55] #120 closed

[2021-11-05 14:54] amccaugh commented on #119
Thanks, I'm glad it's been useful!

[2021-12-01 13:49] flaport opened #121 "DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`"
Hey, as of numpy 1.20 I'm getting this warning:

[code]

I could open a PR for this, but the changes necessary to solve this problem are so trivial it's probably not worth it. I think you'd need to swap np.float by np.float64 (or just float) in 3 places in device_layout.py.

[2021-12-01 18:41] amccaugh commented on #121
Thanks for the bug report, it should be fixed in 3f4359d

[2021-12-07 00:34] #121 closed

[2021-12-09 07:17] giumc opened #122 "Hierarchical Layout Question"
Hi @amccaugh !
I am trying to find a way to get relative position for ```DeviceReference```s nested in arbitrarily nested hierarchy.

I hope this scenario will clarify what I mean:
[code]

Now, if I query for ```gp['parent_ref'].origin``` I will get ```[5 0]``` . However, if I type ```gp['parent_ref'].parent['rect_ref'].origin``` I will also get ```[5 0]```. While this makes perfect sense in a sim

[2021-12-10 23:09] amccaugh commented on #122
Hi @giumc, we don't have that functionality for DeviceReferences but we do for Ports.  There's a (admittedly not-well-documented) function called `Device.get_ports()` which will do exactly what you're asking, except for ports.  If you're just interested in certain points-of-interest (for instance, the location of a specific feature in your device), you may be able to add a Port there and grab it l

[2021-12-13 00:41] giumc commented on #122
That's awesome! I just realized not that was a bit of an [XY problem](https://xyproblem.info/) as what I wanted was actually getting the ports that come with certain ```DeviceReference``` that I need in top hierarchy. Thanks!

[2021-12-13 00:41] #122 closed

[2022-02-24 18:59] dandomi opened #125 "CrossSections are unnamed in .gds file"
Hello,

Following the tutorial for "Transitioning between cross-sections" and appending a command to write a GDS file results in the paths being "Unnamed" in the GDS cell tree. Is this a bug or am I doing something wrong?

from phidl import Device, Layer, LayerSet, Path, CrossSection
from phidl import quickplot as qp
import numpy as np
import phidl.geometry as pg
import phidl.path as pp

P = Path(

[2022-03-02 15:44] a1ward opened #127 "Obstacles for Automated Routing"
Hello,

I stumbled into this package while I was looking for a method that could be used to route from pads to device terminals automatically. First I wanted to thank you for all of this work, this is a really great idea and so far it's been a really great tool to learn how to use. I see so much potential with it!

So on to my "issue". I may have misread the "routing" documentation, but I had assu

[2022-03-08 18:39] amccaugh commented on #125
No worries, you're not doing anything wrong -- this is just a simple naming issue.  It won't actually affect your design, but I've corrected it in cf3f582 , and it should be available in the next update.

[2022-03-08 18:51] amccaugh commented on #127
Hi there, glad to hear you're finding phidl useful.  You're absolutely correct -- the routing done around obstacles is basically a manual process.  There's actually quite a lot of work done in this area, and the generic term they're called are "autorouters".  It wouldn't be impossible to implement, but it may be a little beyond the scope of phidl.  For instance, take a look at the list of availabl

[2022-03-10 16:46] a1ward commented on #127
Thanks so much for this additional information! I'll spend some time looking through these different algorithms for routing and perhaps post again on this page if anything comes up that might be worth implementing.

I really just wanted to make sure that I wasn't missing something in the built in routing functions of phidl. Thank you so much for your time, and all the hard work here.

[2022-03-11 22:50] basnijholt opened #136 "device.remove() doesn't traverse its references"
The following:
[code]
raises
[code]

I am not sure whether this is expected or whether I should expect remove to traverse down the references?

[2022-03-12 03:01] amccaugh commented on #136
This is expected -- `remove()` is not intended to search through the hierarchy, it's strictly meant to remove elements (labels, polygons, references, etc) from the Device itself.  The thinking is as follows:

Say I had two Devices, `D1` and `D2` which both had references to another device `D3` that contains polygon `poly`.  If `remove()` traversed the heirarchy, calling `D1.remove(poly)` would del

[2022-03-12 23:23] basnijholt commented on #136
Ok great, thanks for the explanation 😄

[2022-03-12 23:23] #136 closed

[2022-03-12 23:36] #125 closed

[2022-04-13 16:01] #118 closed

[2022-04-19 20:58] tvt173 opened #140 "support gdstk backend"
Hi @amccaugh ,

I was curious if you have considered supporting gdstk as a new backend (substitute for gdspy). I think it is starting to become feature complete and on par with the original API and functionality of gdspy. Since I believe all new development is going into gdstk instead, it would be great to leverage all the great work that @heitzmann and others are putting in. Not sure if you had a

[2022-04-20 10:55] heitzmann commented on #140
As the main developer of gdstk, I'd just like to point out that there are still known bugs in gdstk that I'm working on (my time to do this has been quite limited in the last weeks, but I haven't vanished or anything). I'd also consider that the API won't be frozen before version 1.0, that is, breaking changes are possible between versions.
This is not to say I'm against it (quite the opposite, th

[2022-04-20 14:27] amccaugh commented on #140
Thanks for chiming in @heitzmann .  Right now my own time is pretty limited, so I don't have any immediate plans to migrate to `gdstk`(although I'm definitely interested in trying it out at some point).

@heitzmann On an unrelated note, have you thought about transitioning `gdstk` away from floating point to integer-math at any point?  That was one of the appeals of the `klayout` module to me, as

[2022-04-20 15:04] tvt173 commented on #140
thanks @amccaugh

understood... ok maybe once one of us gets some time, we can try it out 🙂

[2022-04-20 15:56] amccaugh commented on #140
Very interesting @heitzmann !  In terms of the rounding error, one thing I had briefly thought about was the fact that when you use a 64-bit integer to represent distances, it spans about 19 orders of magnitude (from ~1e-19 to 1e19).  If you assume an integer database unit of 1e-12 (e.g. 1 unit = 1 picometer), it would allow you to represent any object from 1 picometer to 10^7 meters, which I thin

[2022-04-20 16:29] heitzmann commented on #140
I believe you're right. Rounding errors would probably not be an issue if we fix the scale to 10⁻¹² or 10⁻¹⁵ even—the span would still cover 10 km of layout! There could be and issue with user code expecting to use floating point values… I'm sure a new user would be very confused by the magnitude of numbers they see. And the performance issue would exist, of course. But I'll keep the idea in the b

[2022-04-20 16:33] amccaugh commented on #140
Yes, it'd probably benefit from having a fixed-point implementation that shows the user decimals so you don't end up with ridiculous-looking numbers, but be internally stored as an integer.  Anyway, probably not going to worry about it for now but I'm glad you think the idea is interesting

[2022-05-15 03:08] #140 closed

[2022-05-26 20:55] basnijholt opened #145 "Ports are lost upon flattening"
See this example:
[code]
which prints an empty dict.

[2022-05-26 22:59] joamatab commented on #145
The way we handle this in gdsfactory is that we make a copy of the original `Component` and maintain the same ports

[code]

[2022-05-26 23:23] amccaugh commented on #145
Hmm, I think this might be a bug, but at the same time the example you're giving @joamatab is different than the one @basnijholt provided.

In your example, `c1` has some its own ports, and those are preserved after flattening. That *should* be the same as in phidl, but I believe it's not right now.  The case @basnijholt described is that ports from the **references within** `D` (i.e. `a` and `b`

[2022-06-06 04:59] joamatab opened #148 "update conda package"
A while ago i was able to publish the conda package for phidl, however it's out of date

How can we update it to the latest version?
https://github.com/conda-forge/phidl-feedstock

@willsALMANJ
@proppy

https://github.com/gdsfactory/gdsfactory/issues/226

[2022-06-07 23:29] basnijholt commented on #145
@amccaugh, I see your point! There would not be a way to accomplish this with the current design. It might also not make sense to preserve ports upon flattening anyway.

Thanks for the explanation :)

[2022-06-07 23:29] #145 closed

[2022-06-07 23:32] basnijholt opened #149 "Document how _centerpoint_offset_curve is different from _parametric_offset_curve"
After a lot of Git detective work, I identified that the device that I build changed after this commit: https://github.com/amccaugh/phidl/commit/1a403cc.

I am trying to assert whether the resulting (slightly different) polygons should worry me or not.

@amccaugh, would you be able to tell me how these algorithms differ, and why the new one performs better?

[2022-06-12 23:38] amccaugh commented on #149
Good detective work, you're absolutely correct.

`_parametric_offset_curve()` was the original implementation of the offset function used to extrude Paths.  It used `np.gradient` to generate an estimate of `dx/dt` and `dy/dt` so that we could compute the offset according to this equation [from Wikipedia](https://en.wikipedia.org/wiki/Parallel_curve#Parallel_curve_of_a_parametrically_given_curve)

[2022-06-12 23:39] amccaugh commented on #148
Thanks for the report, I'm unlikely to have time to be able to learn the `conda` ecosystem, but if someone can suggest an easy way of submitting/updating the conda package I'd be game to keep it updated

[2022-06-13 03:39] wshanks commented on #148
@joamatab Did you change your username? The maintainer of https://github.com/conda-forge/phidl-feedstock is listed as @joaquin. If you used to control that account and don't any more, can you make a PR to the repo that changes the `recipe-maintainers` entry to @joamatab? Then we can ask one of the conda-forge maintainers to merge it to restore your merge rights for the feedstock (I usually ask in

[2022-06-20 17:19] joamatab commented on #148
perfect,
see https://github.com/conda-forge/phidl-feedstock/pull/5

how can we update to the latest version 1.6.1?
https://anaconda.org/conda-forge/phidl

[2022-06-22 15:45] joamatab commented on #148
Awesome!

the conda package is up to date now :tada:

[2022-06-22 15:45] #148 closed

[2022-06-22 16:49] joamatab opened #153 "non-manhattan connect"
How can we connect two structures that have non-manhattan connections with offgrid ports?

[code]

![image](https://user-images.githubusercontent.com/4514346/175093549-d60f5c23-6cdd-4931-9e9f-55b71c48fdd3.png)

[2022-06-22 17:54] joamatab commented on #153
one possible solution is to flatten

[code]

[2022-06-22 19:14] amccaugh commented on #153
Interesting, if it works flattened that suggests it's not an issue with the routing, but just a more common integer-precision error.  If you save the GDS with a precision of e.g. 1e-5 (instead of 1e-3), is it less bad?

[2022-06-23 04:28] joamatab commented on #153
1e-10 looks better

![image](https://user-images.githubusercontent.com/4514346/175209110-cbf39145-5c45-4105-962f-be44bc305a6c.png)

the default is 1e-9

[2022-06-23 16:20] joamatab opened #154 "How can you replace a reference that has already been added?"
How can you replace a reference that has already been added?

why does this not work?

This code replaces an ellipse with a ring

[code]

but the plot still shows the ellipse

[2022-06-23 17:29] joamatab commented on #153
We solved this issue in gdsfactory

https://github.com/gdsfactory/gdsfactory/pull/479

now we can even work with offgrid ports

[2022-06-25 03:36] #149 closed

[2022-06-25 17:25] amccaugh commented on #153
How do you avoid this exactly? I assume you can snap the port itself to the grid, but when you allow arbitrary rotations (e.g. not just 90/180/270 manhattan rotations), integer rounding errors are inevitable.  See for example this example -- left is the unsnapped port, right is the snapped port.  There's no grid snapping is able to satisfactorily align the two polygons:

<img width="728" alt="imag

[2022-07-11 21:23] joamatab opened #158 "lazy load matplotlib"
Hi Adam,

i rarely use the matplotlib ploter from phidl, so making  `import matplotlib` as a lazy loaded module could save almost 3 seconds when importing the phidl module

![image](https://user-images.githubusercontent.com/4514346/178360688-ab3765e0-7782-4ede-bd64-b6b7bce65418.png)

[2022-07-24 20:34] amccaugh commented on #158
Done! Thanks for the contribution @joamatab , we'll push a new release out in the next few days

[2022-07-24 20:34] #158 closed

[2022-07-24 20:34] amccaugh commented on #154
PR has been merged, thanks!

[2022-07-24 20:34] #154 closed

[2022-08-12 05:49] joamatab opened #162 "how can we fix phidl snapping errors?"
[code]

![image](https://user-images.githubusercontent.com/4514346/184292364-6efbd964-89a3-44e5-95ed-cf2dbac55606.png)

@tvt173
@helgeGehring
@basnijholt

[2022-08-12 10:26] tvt173 commented on #162
the same approach we just implemented in gdsfactory should work just as well in phidl. you'll just need to figure out the best place to run it. in gdsfactory we have the concept of a decorator, so we can run the `flatten_invalid_refs` as a sort of cell finalization hook. in phidl, you could run it maybe at gds export? or manually, of course, after making your cell

https://github.com/gdsfactory/gd

[2022-08-12 13:44] joamatab commented on #162
Hi Troy,

this is not a snapping error due to non-manhattan connections

[code]

in this case the decorator does not fix the issue

![image](https://user-images.githubusercontent.com/4514346/184365789-6289c380-274b-4f80-b2ef-0bd4153e3602.png)

![image](https://user-images.githubusercontent.com/4514346/184365949-3455d03c-0d35-40cd-9f69-097798e4d87a.png)

You can also reproduce the error

[code]

[2022-08-12 14:27] joamatab commented on #162
This is a temporary fix where we snap gaps to a 2nm grid

https://github.com/gdsfactory/gdsfactory/pull/589

[2022-08-13 03:17] tvt173 commented on #162
hi @joamatab , comment out lines 53 and 73-75 of coupler.py
![image](https://user-images.githubusercontent.com/3070522/184466269-58ab4983-680d-4169-9ed0-eedbd9cf535d.png)

then re-run your sample script with a line added to fix the invalid refs (manually applying the decorator)
[code]

no more snapping errors 😺
![image](https://user-images.githubusercontent.com/3070522/184466373-ff9665ea-e6ca-406b

[2022-08-13 03:27] joamatab commented on #162
Thank you Troy,

What do you think of the snap to 2nm grid that we added to fix those issues on gaps?

[2022-08-13 04:43] tvt173 commented on #162
at the end of the day, the geometries will need to snap eventually. in your approach, you snap pre-emptively. in my approach, i let everything be drawn, then snap at the last minute (let's call it Just-In-Time snapping, i suppose 😄) . if you are usually placing that device at manhattan angles and on-grid points (which I assume is the case), your approach is probably preferrable. i think my approac

[2022-08-31 13:35] Dominik-Vogel opened #163 "Migration from gdspy to gdstk"
As gdspy is being sunset, are there any plans and timelines for phidl to migrate to gdstk, the successor of gdspy?
https://github.com/heitzmann/gdspy#future-of-gdspy

[2022-08-31 15:53] amccaugh commented on #163
Hi @Dominik-Vogel , we had a brief discussion about that here if you'd like to take a look:

* https://github.com/amccaugh/phidl/issues/140
* https://github.com/amccaugh/phidl/issues/79

[2022-08-31 19:13] Dominik-Vogel commented on #163
Thank you @amccaugh #140 sounds very reasonable. Sorry I must have overlooked it going through the issues. Looking forward to both the development in gdstk and phidl. Thank you for all the good work so far!

[2022-08-31 19:13] #163 closed

[2022-08-31 21:21] tvt173 commented on #162
hi @amccaugh , on a high level i agree with you, but in practice i find that the vast majority of snapping errors happen under one of two conditions
1. References have origins at off-grid (floating point value) locations
2. References are rotated at non-90 degree rotations

In either case, values for these reference origins/rotations will be cast to an eight-byte real number when written to GDS, a

[2022-08-31 23:01] joamatab commented on #162
see https://gdsfactory.github.io/gdsfactory/notebooks/08_pdk.html#PDK-decorator

[2022-09-01 04:44] jenshnielsen commented on #163
@amccaugh Given that this has been raised 4 times or so maybe adding a note about the status to the readme ?

[2022-09-01 04:46] jenshnielsen commented on #163
This is especially likely to come up since gdspy officially does not support python newer than 3.8

[2022-09-01 18:19] amccaugh commented on #162
That's an interesting point, I see how it could be bad that you're essentially doing a 2-stage rounding process when you convert local polygons *and then* references to integer units.  Do you have any test cases I might be able to play around with?  In particular, I'd be curious if you don't need to flatten and center at (0,0) -- if instead you can get away with just rounding the references origin

[2022-09-01 18:34] tvt173 commented on #162
hi @amccaugh , yes in short that _does_, work from my experimentation. our first iteration did something similar to that. you have to be careful about a few things though... i.e. that the user may go through a whole sequence of move, mirror, rotate operations, you should make sure you are doing this at the very end. and because of the combination of things that can happen with mirror + rotation, e

[2022-09-11 16:44] alexsludds commented on #163
Hey folks,
I made a brief first pass at converting the phidl backend from gdspy to gdstk:
[https://github.com/alexsludds/phidl](phidl with gdstk backend)

It's not bug free, but it does generate some basic geometry. I need folks help with handling dependencies on gds/oas generation.
In particular, if you run this example code (borrowed from the phidl examples):
[https://github.com/alexsludds/phidl

[2022-11-04 01:57] basnijholt opened #166 "pg.boolean returns polygons where properties are the same object in memory"
See:

[code]
![image](https://user-images.githubusercontent.com/6897215/199868482-9005e8b4-d060-4f80-bbf4-eeb4ad9ae155.png)
and prints:
[code]
which means that
[code]
prints `{'a': 1}`.

@joamatab, maybe also happens in `gdsfactory`?

[2022-11-07 14:55] joamatab commented on #166
yes Bas, and at least in gdsfactory you cannot save the GDS after setting the properties of the polygons

https://github.com/gdsfactory/gdsfactory/issues/821